<?php 

$wapi_url_base = "https://in.wapi.xyz/";
$wapi_username = "";
$wapi_token = "";



$config_wapi["url"] = $wapi_url_base;
$config_wapi["username"] = $wapi_username;
$config_wapi["token"] = $wapi_token;

?>